@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@costom-varint dark:(&:where(.dark,.dark*));

*{
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

@theme dark {
  --color-primary: #5044E5;
}